# ────────────────────────────────────────────────
venv/

# ────────────────────────────────────────────────
__pycache__/
*.py[cod]
*$py.class

# ────────────────────────────────────────────────
db.sqlite3

# ────────────────────────────────────────────────
.env

# ────────────────────────────────────────────────
**/migrations/__pycache__/

# ────────────────────────────────────────────────
.vscode/
*.code-workspace

# ────────────────────────────────────────────────
*.log
*.pot
*.mo
*.tmp
*.swp
*.swo

# ────────────────────────────────────────────────
node_modules/
coverage/
htmlcov/