asgiref==3.8.1
blinker==1.9.0
cached-property==2.0.1
channels==4.2.2
chardet==5.2.0
chevron==0.14.0
click==8.1.7
colorama==0.4.6
Django==5.2
Flask==3.1.0
frozendict==2.4.6
genanki==0.13.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
pillow==11.0.0
PyYAML==6.0.2
reportlab==4.2.5
sqlparse==0.5.3
tzdata==2025.2
Werkzeug==3.1.3
