<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block styles %}{% endblock %}

  <meta charset="UTF-8">
  <title>{% block title %}Business Game{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <header>
    <h1>Business Game</h1>
  </header>

  <nav>
    {% if user.is_authenticated %}
      <a href="{% url 'dashboard' %}">Dashboard</a>
      <a href="{% url 'lobby' %}">Lobby</a>
  
    {% if user.is_authenticated and user.is_staff %}
      <a href="{% url 'painel_admin' %}">Administração</a>
    {% endif %}
  
      <a href="{% url 'logout' %}">Sair</a>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </nav>

  <div class="content">
    {% block content %}
    <!-- Conteúdo das páginas específicas -->
    {% endblock %}
  </div>

</body>
</html>