{% extends "base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block title %}Gerenciamento de Produtos{% endblock %}

{% block content %}
<h2 style="text-align: center;">Criar Novo Produto</h2>

<form method="POST">
    {% csrf_token %}
    <label for="nome">Nome:</label>
    <input type="text" name="nome" required>
    <label for="quantidade">Quantidade:</label>
    <input type="number" name="quantidade" required>
    <label for="preco">Preço:</label>
    <input type="number" name="preco" step="0.01" required>
    <input type="hidden" name="categoria" value="Produto" required>
    <button type="submit">Criar Produto</button>
</form>
{% endblock %}