<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Login - Business Game{% endblock %}

{% block content %}
  <h2>Entrar no Sistema</h2>

  {% if messages %}
    {% for message in messages %}
      <p style="color: red;">{{ message }}</p>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <label for="username">Usuário:</label><br>
    <input type="text" name="username" id="username" required><br><br>

    <label for="senha">Senha:</label><br>
    <input type="password" name="senha" id="senha" required><br><br>

    <button type="submit">Entrar</button>
  </form>
{% endblock %}